<div>
	<div style="position: absolute; top: 0px ;left: calc((100% - 900px)/2); height: 210px; width: 900px;border-bottom-style: solid;  background-color: red" align="center">
		<br><br><br>
		<h1>Listing revisions</h1>
	</div>
	
	<div style="position: absolute; top: 213px; left: calc((100% - 900px)/2); padding: 0px ;height: calc(100% - 280px); width: 900px; background-color: grey; " align="center">
	
		<table>
		  <thead>
		    <tr>
		      <th>Autor</th>
		      <th>Nro</th>
		      <th>Fecha</th>
		      <th>State</th>
		      <th>Part</th>
		      <th colspan="3"></th>
		    </tr>
		  </thead>
		
		  <tbody>
		    <% @revisions.each do |revision| %>
		      <tr>
		        <td><%= revision.autor %></td>
		        <td> | <%= revision.nro.to_s.rjust(2, '0') %></td>
		        <td> | <%= revision.fecha %></td>
		        <td> | <%= revision.state.name %></td>
		        <td> | <%= revision.part.leter + revision.part.nro.to_s.rjust(7, '0') %></td>
		        
		        <!--<td> | <%= link_to 'Show', [revision.part, revision] %></td>-->
		        <td><%= link_to 'Edit', edit_part_revision_path(revision.part, revision) %></td>
		
		      </tr>
		    <% end %>
		  </tbody>
		</table>
	
	</div>
	
	<div align="center" style="position: absolute; left: calc((100% - 900px)/2) ;bottom: 0px; height: 70px; width: 900px; background-color: red; border-top-style: solid">
	
		<p style="margin:15px; font-size: 15px; font-weight: bold; font-family: Courier">
		<%= link_to 'Back', parts_path %> |
		<%= link_to 'New Revision', new_part_revision_path %>
		</p>
	</div>

</div>